:root {
    --primary-color: #1c1c1c;
    --secondary-color: #e8e8e8;
    --hover-color: #3e3e3e;
    --text-font: 'Montserrat', sans-serif;
  }

  .HeadService {
    z-index: 4;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 5px 8px;
    margin: 1.01%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
  }
  
  body {
    background-color: #f1f1f1;
    font-family: var(--text-font);
    margin: 0px
  }

  ::selection {
    background:  #b31ef8; /* Example: Left to right gradient */
    color: white; /* Optional: Change text color for better contrast */
  }
  
  .MiddleNova li:hover,
  .SignUpNOVA li:hover {
    background-color: var(--hover-color);
  }

.CurtainMobile { 
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.CurtainMobile a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.CurtainMobile a:hover, .CurtainMobile a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .CurtainMobile .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

.HeadMenu {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: #e8e8e8;
    display: flex;
    justify-content: space-between; /* Distributes space evenly */
    align-items: center;
    padding: 10px 20px;
    top: -1px;
    position: sticky;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 2;
}

.MobileSet {
    display: none;
    width: 9.5%;
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid #9b9b9b93;
    cursor: pointer;
}


.StartNova {
    display: flex;
    align-items: center;
    text-align: left;
}

.StartNova img {
    width: 60px;
}

.StartNova p {
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #e8e8e8;
}

/* Navigation Styling */
.MiddleNova ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Adds spacing between items */
}

.MiddleNova li {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 3px 4px;
    border-radius: 10px;
}

.MiddleNova li:hover {
    background-color: #3e3e3e; /* Lighten color on hover */
}

.SignUpNOVA ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Adds spacing between items */
}

.SignUpNOVA li {
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    padding: 3px 4px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.SignUpNOVA li:hover {
    background-color: #3e3e3e; /* Lighten color on hover */
}

.FirstShowcase {
    position: relative;
    text-align: left;
    color: white;
    width: 100%;
}

.ContainerShowcase {
    position: absolute;
    top: 40%;
    left: 8%;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background-color: rgba(69, 69, 69, 0.6);
}

.NovaTitle {
    margin: 2px 0px;
    font-size: 64px;
    font-weight: 400;
}

.NovaDescription {
    margin: 2px 0px 13px 0px;
    font-size: 32px;
    font-weight: 200;
}

.BuyNowButton {
    padding: 15px;
    margin: 0px 10px 0px 0px;
    background-color: transparent;
    border: 0.4px solid white;
    font-weight: 300;
    font-size: 16px;
    color: white;
    border-radius: 12px;
    font-family: 'Montserrat';
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
}

.WhyButton {
    padding: 15px;
    margin: 0px 10px 0px 0px;
    background-color: white;
    border: 0.4px solid white;
    font-weight: 300;
    font-size: 16px;
    color: black;
    border-radius: 12px;
    font-family: 'Montserrat';
    cursor: pointer;
}

.BuyNowButton:hover {
    background-color: white;
    color: black;
}

.Info {
    margin: 0px 15px;
}

.TitleNova span {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    background: linear-gradient(to bottom right, #f601ff, #ff006a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
}

.TitleNova:hover span {
    opacity: 1;
    transform: translateX(0);
}

.InfoContainer {
    display: grid;
    grid-template-columns: 25% 75%;
}

.InfoSide {
    display: flex; /* Enable Flexbox on the parent */
    justify-content: center; /* Center horizontally */
    /* If you want the list items themselves to be centered within the <ul>: */
    ul {
      display: flex;
      flex-direction: column; /* Arrange items vertically */
      align-items: center; /* Center items horizontally */
      list-style: none; /* Optional: Remove bullet points */
      padding: 0; /* Optional: Remove default padding */
    }
}

.scrollable-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px); /* Example: Adjust minmax as needed */
    gap: 10px; /* Adjust gap as needed */
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden;
    padding-bottom: 20px; /* Add padding to account for scrollbar */

  }
  
  .scrollable-grid > * {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 0.4px solid rgb(112, 112, 112);
    border-radius: 30px;
    padding: 40px 20px; /* Keep your padding */
    text-align: center;
}

.BuyThisProduct {
    background-color: black;
    color: #f1f1f1;
    border-radius: 5px;
    border: 0.4px solid black;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px 10px;
    display: block;
    cursor: pointer;
    margin: 0px 0px 5px 0px
}

.WhyProduct {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    border: 0.4px solid black;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 10px 10px;
    display: block;
    cursor: pointer;

}

.WhyProduct:hover {
    background-color: lightgrey; /* LightGrey on hover */
    transform: scale(1.02);
}

.BuyThisProduct:hover {
    background-color: #3b3b3b; /* Lighter colour on hover */
    transform: scale(1.02);
}


.ProductTitle {
    font-weight: 600;
    font-size: 24px;
    margin: 1px 0px;
}

.PriceProduct {
    font-weight: 300;
    font-size: 16px;
    margin: 0px 0px 6px 0px;
}

.side-button:link {
    color: #a201ff;
    text-decoration: none;
}

.side-button:active {
    color: #a201ff;
    text-decoration: none;
}

.side-button:visited {
    color: #a201ff;
    text-decoration: none;
}

.side-button:hover {
    text-decoration: underline;
}

.Socials {
    text-align: center;
}

.social-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.social-btn {
    display: inline-block;
    width: 100px; /* Default size */
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.social-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-btn:hover {
    transform: scale(1.2); /* Makes the button 20% bigger on hover */
}

.trackoftheweek {
    text-align: center;
}

.MTTHeader {
    text-align: center;
}

.MTTHeader > h1, .MTTHeader > p{
    margin: 0px 0px 0px 0px;
}

.TeamContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.TeamContainer > div {
    margin: 5px 15px 0px 5px;
}

.personcontainer {
    width: 250px;
}

.personcontainer > img {
    width: 100%;
    border-radius: 100%;
    border: 1.5px solid #707070ad;
}

.TiiLxm {
    background-color: rgb(99, 179, 255);
}

.Poofbooth {
    background-color: #7A41EA;
}

.Dani {
    background-color: #5C4033;
}

.flapa {
    background-color: #0097FF ;
}

.Kate {
    background-color: #D2042D;
}

.wedge {
    background-color: #4d59ff;
}

.Sweet {
    background-color: #ff7ec9;
}

.complex {
    background-color: #ea9341;
}

.koko {
    background-color: #ff1934;
}

.teams {
    text-align: center;
}

.link:visited {
    color: #1c1c1c;
    text-decoration: none;
}

.link:link {
    color: #1c1c1c;
    text-decoration: none;
}

.link:active {
    color: #1c1c1c;
    text-decoration: underline;
}

.link:hover {
    color: #1c1c1c;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.webfooter {
    background-color: #1c1c1c;
    color: #e8e8e8;
    font-weight: 300;
    text-align: center;
    padding: 0px 0px 5px 0px;
}

.Qlinks {
    display: flex;
    justify-content: space-evenly;
}

.Qlinks > ul {
    list-style-type: none;
}

.Link {
    color: #e8e8e8;
    text-decoration: none;
}

.Link:visited {
    color: #e8e8e8;
    text-decoration: none;
}

.Link:hover {
    color: #e8e8e8;
    text-decoration: underline;
}

.Link:link {
    color: #e8e8e8;
    text-decoration: none;
}

.Link:active {
    color: #e8e8e8;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .MiddleNova {
        display: none;
    }

    .SignUpNOVA {
        display: none;
    }

    .MobileSet {
        display: flex;
    }
}